.firstImg {
    margin-top: -25px;
}
.imgLeft {
    float: left;
    width: 40vw;
}
.imgLeftMobile {
    display: none;
}
.imgRight {
    float: right;
    margin-top: 0px;
    width: 40vw;
}
.imgRightMobile {
    display: none;
}
@media only screen and (max-width: 768px) { 
    .imgLeft {
        display: none;
    }
    .imgLeftMobile {
        background-image: url(../img/pics/Mae.JPG);
        display: block;

        height: 20vh;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .imgRight {
        display: none;
    }
    .imgRightMobile {
        background-image: url(../img/pics/Mae.JPG);
        display: block;

        height: 20vh;
        
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}
.homeText {
    align-content: center;

}
.homeText h1 {
    font-size: 50px;
    font-family: 'Playlist Script';
    font-weight: normal;
    margin-top: 25px;
}
