.landing-container {
    color: black;
    margin: 0 0 150px;
    display: flow-root;
}
.firstImg {
    margin-top: -25px;
}
.imgLeft {
    float: left;
    width: 35vw;
    /*clip-path: circle(65.5% at 12% 50%);*/
    clip-path: ellipse(85% 50% at 15% 50%);

}
.imgLeftMobile {
    display: none;
}
.imgRight {
    float: right;
    margin-top: 0px;
    width: 40vw;
    
}
.imgRightMobile {
    display: none;
}
@media only screen and (max-width: 768px) { 
    .imgLeft {
        display: none;
    }
    .imgLeftMobile {
        background-image: url(../img/pics/side_img.jpg);
        display: block;
        height: 30vh;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        clip-path: ellipse(40% 50% at 40% 50%);
    }
    .imgRight {
        display: none;
    }
    .imgRightMobile {
        background-image: url(../img/pics/side_img.jpg);
        display: block;
        height: 20vh;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}
.homeText {
    align-content: center;

}
.homeText h1 {
    font-size: 50px;
    font-family: 'Playlist Script';
    font-weight: normal;
    margin-top: 25px;
}
.homeText h2 {
    font-size: 2em;
    margin-bottom: 0;
}
.homeText h3 {
    color:#784BA0;
    font-size: 1.1em;
    margin-top: 0;
}
@media only screen and (max-width: 768px) {
    .homeText h2 {
        font-size: 1.5em;
    }
  }
.form-container {
    border-radius: 25px;
    /*background-color:  #2B86C5;*/
    /*border: 3px solid #2B86C5;*/
    width:  fit-content;
    padding: 5px 56px 5px 40px;
    margin: 0 auto;
    box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}
/*.MuiTypography-root  {
    color: #fff;
}
.MuiSvgIcon-root {
    color: #fff;
    font-size: 2.0rem;
    transform: rotate(360deg) 1s 0s;
}
.MuiCheckbox-colorPrimary.Mui-checked span > svg{ 

} 
.MuiCheckbox-colorPrimary span > svg {

}*/
