.landing-container {
    color: black;
    display: flow-root;
}
.firstImg {
    margin-top: -25px;
}
.imgLeft {
    float: left;
    width: 35vw;
    /*clip-path: circle(65.5% at 12% 50%);*/
    clip-path: ellipse(85% 50% at 15% 50%);

}
.imgLeftMobile {
    display: none;
}
.imgRight {
    float: right;
    margin-top: 0px;
    width: 40vw;
    
}
.imgRightMobile {
    display: none;
}
@media only screen and (max-width: 768px) { 
    .imgLeft {
        display: none;
    }
    .imgLeftMobile {
        background-image: url(../img/pics/side_img_2.jpg);
        display: block;
        height: 30vh;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        clip-path: ellipse(40% 50% at 40% 50%);
    }
}
.homeText {
    align-content: center;

}
.homeText h1 {
    font-size: 50px;
    font-family: 'Playlist Script';
    font-display: swap;
    font-weight: normal;
    margin-top: 25px;
}
.homeText h2 {
    font-size: 2em;
    margin-bottom: 0;
}
.homeText h3 {
    color:#784BA0;
    font-size: 1.1em;
    margin-top: 0;
}
@media only screen and (max-width: 768px) {
    .homeText h2 {
        font-size: 1.5em;
    }
  }
.lds-default {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 100px auto;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #784BA0;  
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.blake-left {
  float: left;
  margin-left: -15px;
  margin-top: 50px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  /*clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);*/
}
.mae-right {
  float: right;
  margin-right: -15px;
  margin-top: 50px;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  /*clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);*/
}
@media only screen and (max-width: 1225px) {
  .blake-left {
    height: 450px;
  }
  .mae-right {
    height: 450px;
  }
}
@media only screen and (max-width: 1150px) {
  .blake-left {
    height: 400px;
  }
  .mae-right {
    height: 400px;
  }
}
@media only screen and (max-width: 1150px) {
  .blake-left {
    height: 350px;
    margin-top: 110px;
  }
  .mae-right {
    height: 350px;
    margin-top: 110px;
  }
}
@media only screen and (max-width: 1030px) {
  .blake-left {
    height: 300px;
    margin-top: 150px;
  }
  .mae-right {
    height: 300px;
    margin-top: 150px;
  }
}
@media only screen and (max-width: 975px) {
  .blake-left {
    display: none;
  }
  .mae-right {
    display: none;
  }
}