.App {
  text-align: center;
}
.main {
  color: black;
  margin: 0 0 150px;
  min-height: 100px;
  display: grid;
}
.successMsg {
  color: blue;
}
.intermediate {
  outline: '2px auto rgba(19,124,189,.6)';
}
.checkBoxLabel {
  font-size: 1.5em !important;
}
.hr {
  background-color: blue;
  width: 300px;
  margin: 50px auto 50px;
}
.update-message {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.5em;
  margin: 0px;
  color: #fff;
}
.form-container {
  border-radius: 25px;
  width:  fit-content;
  padding: 5px 56px 5px 40px;
  margin: 0 auto;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}
.form-container-updated {
  border-radius: 25px;
  width: 165px;
  height: 42px;
  padding: 5px 56px 5px 40px;
  margin: 0 auto;
  background: #228b22;
  box-shadow: inset 5px 5px 7px #1d761d, 
            inset -5px -5px 7px #27a027;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.form-container.dashboard > div {
  margin: 0 10px;
}
.display-flex {
  display: flex;
  text-align: center;
  margin: 5px auto;
}
.dash-count-icon {
  border-radius: 50%;
  font-size: 15px;
  padding: 4px;
  color: #fff;
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
.dash-title {
  margin: auto 10px auto 0px;;
}
.users-container {
  text-align: left;
  margin: 50px auto 0px;
  width: fit-content;
}
.users-container div p {
  margin: 2px 10px;
}
.users-container div p:first-child {
  color: #784BA0;
  min-width: 175px;
  font-weight: bold;
}
.users-container div p:nth-of-type(2) {
  min-width: 100px;
}
.users-container div p:nth-of-type(3) {
  min-width: 100px;
}
.users-container div p:last-child {
  margin-bottom: 20px;
}
.user-info {
  display: flex;
  flex-wrap: wrap;
}
.bottom-spacer {
  margin-bottom: 150px;
}
.separator {
  margin-bottom: 50px;
}
@media only screen and (max-width: 500px) {
  .users-container div p:nth-of-type(3) {
      min-width: 175px;
  }
}