* {
  font-family: "Avenir Next W01", "Avenir Next", "Avenir", 'Segoe UI', sans-serif;
  font-display: swap;
}
body {
  margin: -50px 0 -8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
