footer {
    background-color: #7380a8;
    color: #fff;
    width: auto;
    height: auto;
    text-align: center;
    clear: both;
    padding: 30px 10px;
    position: relative;
}
footer h1 {
    font-size: 60px;
    margin-bottom: 0px;
    font-family:'Playlist Script';
    font-weight:normal;
}
footer h2 {
    font-size: 40px;
    margin: 0px auto 0px;
    font-family:'Playlist Script';
    font-weight:normal;
}
footer p {
    font-weight: bold;
}
* {
    font-family: Arial, Helvetica, serif;
}
@font-face {
    font-family: 'Playlist Script';
    font-style: normal;
    font-weight: normal;
    src: local('Playlist_Script'), url('Playlist_Script.woff') format('woff');
    }