.heroImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/downtown-tacoma.webp");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: ellipse(84% 70% at 71% 30%);
}
@media only screen and (max-width: 768px) { 
  .heroImg {
  
  }
}
.loggedinImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/loggedIn.jpg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: ellipse(79% 68% at 63% 10%);
}
.heroText {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    margin-top: 50px;
    transform: translate(0%, 20vh);
}
  .heroText h1 {
    font-size: 80px;
    margin:0 auto 5px;
    font-family: 'Playlist Script';
    font-weight: normal;

}
  .heroText h2 {
    font-size: 30px;
}